/Release
/.cproject
/.project
/.settings
*.ser
*~
*-
*.backup
*.bak*
*.net
*.bck
*-bak
/Master_controller_test
/Generic_device_test
/Generic_Device_Test
/Master_controller
/Main_panel_device
/SIx_OWBus_device
/Mixer_control_device
/MixerController
/Main Panel Device/
/TestDevice/
